{% macro renderCategory(items, keysToLabel, translationDomain, routeName, page, nbPages, excludeKeys = [], specialKeys = {}, unitKeys = {}) %}
    {% set valueToGlobal = [
        'unknown',
        'none',
        'n/a',
        'indefinite',
        '0',
        '1 year',
        '2 years',
        '3 years',
        '4 years',
        '6 years',
        '1 month',
        '2 months',
        '6 months',
        '1 week',
        '1 day',
        '2 days',
        '3 days',
        '5 days',
        '7 days',
        '20 days',
        '21 days',
        '30 days',
        '56 days',
        '500 days',
        '15 hours'
    ] %}

    {% for item in items %}
        <details>
            <summary role="button">
                {% if item.name is defined %}
                    {{ (translationDomain ~ '.' ~ item.name)|trans }}
                {% elseif item.title is defined %}
                    {{ (translationDomain ~ '.' ~ item.title)|trans }}
                {% endif %}
            </summary>
            <table class="vertical-table">
                <tbody>
                {% for key, value in item %}
                    {% if key not in excludeKeys %}
                        <tr>
                            <th scope="col">{{ (translationDomain ~ '.' ~ key)|trans }}</th>
                            <th scope="row">
                                {% if value|lower not in valueToGlobal %}
                                    {% if key in keysToLabel %}
                                        {{ value }}
                                    {% elseif key in specialKeys %}
                                        {% if key == 'opening_crawl' %}
                                            {{ ('films.opening_crawl_episode_' ~ item.episode_id)|trans|nl2br }}
                                        {% elseif key == 'release_date' %}
                                            {{ value|date("d-m-Y") }}
                                        {% endif %}
                                    {% elseif key in unitKeys %}
                                        {% if key == 'height' %}
                                            {{ value }} cm
                                        {% elseif key == 'mass' %}
                                            {{ value }} kg
                                        {% endif %}
                                    {% else %}
                                        {{ (translationDomain ~ '.' ~ value)|trans }}
                                    {% endif %}
                                {% else %}
                                    {{ value|lower|trans }}
                                {% endif %}
                            </th>
                        </tr>
                    {% endif %}
                {% endfor %}
                </tbody>
            </table>
        </details>
    {% endfor %}

    {% if nbPages > 1 %}
        <nav>
            {% if page > 1 %}
                <a href="{{ path(routeName, {'page': page - 1}) }}">Précédent</a>
            {% endif %}

            {% for i in 1..nbPages %}
                {% if i == page %}
                    <span>{{ i }}</span>
                {% else %}
                    <a href="{{ path(routeName, {'page': i}) }}">{{ i }}</a>
                {% endif %}
            {% endfor %}

            {% if page < nbPages %}
                <a href="{{ path(routeName, {'page': page + 1}) }}">Suivant</a>
            {% endif %}
        </nav>
    {% endif %}
{% endmacro %}
